# Python
__pycache__/
*.py[oc]
*.log
.venv/

# Environment
.env

# Backups e Histórico Local
templates/backups/
test_quick.py

# GitHub e Ferramentas CLI
.github/
.gemini/
gha-creds-*.json

build/
dist/
*.spec
